:root {
  --primary-orange: #d17a4d;
  --bg-color: #f5eee6;
  --card-bg: #ffffff;
  --text-dark: #333333;
  --input-bg: #f5f5f5;
}

.contact-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-dark);
}

.main-title {
  color: var(--primary-orange);
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 600;
}

.cards-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}

.contact-card {
  background: var(--card-bg);
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  flex: 1;
  min-width: 320px;
  max-width: 450px;
}

.card-title {
  color: var(--primary-orange);
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.card-subtitle {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.description, .description-small {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #555;
}

.section-heading {
  color: var(--primary-orange);
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-details {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
 
}
.contact-details li{
     margin: 10px;
}

/* Form Styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 14px;
  color: #444;
}

.form-group input, 
.form-group textarea {
  background-color: var(--input-bg);
  border: 1px solid #e0e0e0;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 8px;
}

.send-btn {
  background: transparent;
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.send-btn:hover {
  background: var(--primary-orange);
  color: white;
}