.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Central Card Style */
.signup-card {
  width: 100%;
  max-width: 650px;
  border: 1.5px solid #f2cfbb; /* Peach border matching other screens */
  border-radius: 15px;
  padding: 60px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-field {
  width: 100%;
  max-width: 350px;
  margin-bottom: 25px;
}

.input-field label {
  display: block;
  color: #c97c5d;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333; /* Thin black border */
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
}

/* Sign Up Button */
.signup-main-btn {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #f2cfbb;
  color: #c97c5d;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
}.signup-main-btn:hover {
  background-color: #b0664f;
  color:#fff;
}

.divider {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 12px;
  color: #333;
}

/* Social Buttons Section */
.social-login {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-btn {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #f2cfbb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}


.social-btn img {
  width: 18px;
  height: 18px;
}